.navcontainer {
    width: 100vw;
    height: 100vh;
}

.navbar {
    width: 100vw;
    height: 70px;
    background-color: #004990;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

}

.content {
    width: 100vw;
    min-height: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    margin-left: 5%;
}

#variables {
    margin-left: 0%;
}

button {
    margin-right: 5%;
}

.graph {
    width: 75%;
    height: 75%;
    border-radius: 0;
}
